<template>
    <div>
        <Form @compare="compare"/>
        <div v-if="comparison === null" class="text-center p-5">
            <Spinner/>
        </div>
        <Comparison v-if="comparison !== undefined && comparison !== null" :comparison="comparison"/>
    </div>
</template>

<script>
    import Form from './Form.vue';
    import Comparison from "./Comparison";
    import Spinner from "./Spinner";

    export default {
        components: {Spinner, Comparison, Form},
        data() {
            return {
                comparison: undefined,
            }
        },
        methods: {
            async compare(connections) {
                try {
                    this.comparison = null;
                    this.comparison = await this.$post(`/api/compare`, connections);
                } catch (e) {
                    this.comparison = undefined;
                    console.error(e);
                    alert(this.$t('error.generic'));
                }
            }
        }
    }
</script>
