<template>
    <div>
        <h2>{{ $t('comparison.rows') }}</h2>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div :class="['alert', comparison.rows.countBefore === comparison.rows.countAfter ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.count') }}</h3>
                    {{ $formatNumber(comparison.rows.countBefore) }} → {{ $formatNumber(comparison.rows.countAfter) }}
                    <Percentage :value="comparison.rows.countAfter - comparison.rows.countBefore" :base="comparison.rows.countBefore"/>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div :class="['alert', comparison.rows.removed.count === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.removed') }}</h3>
                    {{ $formatNumber(comparison.rows.removed.count) }}
                    <Percentage :value="comparison.rows.removed.count" :base="comparison.rows.countBefore"/>
                </div>
                <TablePreview :rows="comparison.rows.removed.preview"/>
            </div>
            <div class="col-12 col-lg-4">
                <div :class="['alert', comparison.rows.added.count === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.added') }}</h3>
                    {{ $formatNumber(comparison.rows.added.count) }}
                    <Percentage :value="comparison.rows.added.count" :base="comparison.rows.countBefore"/>
                </div>
                <TablePreview :rows="comparison.rows.added.preview"/>
            </div>
        </div>

        <h2>{{ $t('comparison.columns') }}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div :class="['alert', comparison.columns.removed.length === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.removed') }}</h3>
                    {{ $formatNumber(comparison.columns.removed.length) }}
                    <ul v-if="comparison.columns.removed.length">
                        <li v-for="column in comparison.columns.removed">
                            {{ column }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div :class="['alert', comparison.columns.added.length === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.added') }}</h3>
                    {{ $formatNumber(comparison.columns.added.length) }}
                    <ul v-if="comparison.columns.added.length">
                        <li v-for="column in comparison.columns.added">
                            {{ column }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h2>{{ $t('comparison.cells') }}</h2>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div :class="['alert', comparison.cells.rowsCount === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.cellsRowCount') }}</h3>
                    {{ $formatNumber(comparison.cells.rowsCount) }}
                    <Percentage :value="comparison.cells.rowsCount" :base="comparison.rows.commonCount"/>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div :class="['alert', comparison.cells.cellsCount === 0 ? 'alert-success' : 'alert-warning']">
                    <h3 class="h4">{{ $t('comparison.cellsCellsCount') }}</h3>
                    {{ $formatNumber(comparison.cells.cellsCount) }}
                    <Percentage :value="comparison.cells.cellsCount" :base="comparison.cells.commonCount"/>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h3 class="h4">{{ $t('comparison.cellsColumnsCount') }}</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr v-for="(diffs, column) in comparison.cells.columnsDiffsCounts">
                            <th>
                                <a href="#" :class="selectedColumn === column ? 'fw-bold' : 'fw-normal'"
                                   @click.prevent="selectedColumn = selectedColumn === column ? null : column"
                                >
                                    {{ column }}
                                </a>
                            </th>
                            <td>
                                {{ $formatNumber(diffs) }}
                                <Percentage :value="diffs" :base="comparison.rows.commonCount"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <TableDiff :rows="comparison.cells.preview" :selectedColumn="selectedColumn"/>
    </div>
</template>

<script>
    import TablePreview from "./TablePreview";
    import TableDiff from "./TableDiff";
    import Percentage from "./Percentage";

    export default {
        components: {Percentage, TableDiff, TablePreview},
        props: {
            comparison: { required: true },
        },
        data() {
            return {
                selectedColumn: null,
            }
        },
    };
</script>
