<template>
    <div>
        <div class="input-group mb-3">
            <input class="form-control input-sensitive" v-model="url" :placeholder="$t('form.url')"/>
            <button v-if="Object.keys(history).length > 0" class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{$t('form.history')}}
            </button>
            <ul v-if="Object.keys(history).length > 0" class="dropdown-menu dropdown-menu-end">
                <li v-for="(entryDetails, entryUrl) in history">
                    <a class="dropdown-item" href="#" @click="url = entryUrl; fetchTableList()">{{ entryUrl }}</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary" @click="fetchTableList">{{ $t('form.connect') }}</button>
        </div>
        <div class="input-group mb-3">
            <button v-if="copyLeft" type="button" class="btn btn-primary" @click="$emit('clone', value)">←</button>
            <select class="form-select" v-model="table" v-if="tables !== null" required>
                <option :value="null" disabled hidden>{{ $t('form.selectTable') }}</option>
                <option v-for="tableName in tables" :value="tableName">{{ tableName }}</option>
            </select>
            <button v-if="copyRight" type="button" class="btn btn-primary" @click="$emit('clone', value)">→</button>
        </div>
    </div>
</template>

<script>
    import session from "../services/session";

    export default {
        props: {
            value: { required: true },
            preferredTable: {},
            copyLeft: { type: Boolean },
            copyRight: { type: Boolean },
        },
        data() {
            const { url, table } = this.value;

            return {
                url,
                table,
                tables: table === null ? null : [table],
                history: session.get('history', {}),
            };
        },
        mounted() {
            this.$eventHub.$on('history-updated', () => {
                this.history = session.get('history', {});
            });

            if (this.url) {
                this.fetchTableList();
            }
        },
        watch: {
            url() {
                this.$emit('input', {url: this.url, table: this.table});
            },
            table() {
                this.$emit('input', {url: this.url, table: this.table});
            },
            value() {
                this.url = this.value.url;
                this.table = this.value.table;
            },
        },
        methods: {
            async fetchTableList() {
                try {
                    this.tables = null;
                    this.tables = await this.$post(`/api/tables`, {url: this.url});
                    if (!this.table && this.preferredTable) {
                        this.table = this.preferredTable;
                    }
                    if (this.history[this.url] === undefined) {
                        this.history[this.url] = {};
                    }
                    session.set('history', this.history);
                    this.$eventHub.$emit('history-updated');
                } catch (e) {
                    console.error(e);
                    alert(this.$t('error.generic'));
                }
            },
        },
    };
</script>

<style lang="scss" scoped>
    .input-sensitive:not(:placeholder-shown):not(:focus) {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
</style>
