<template>
    <form class="my-5">
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <h2>{{ $t('form.before') }}</h2>
                <Connection v-model="before" copyRight @clone="after = {...after, table: before.table}"/>
            </div>
            <div class="col-12 col-lg-6">
                <h2>{{ $t('form.after') }}</h2>
                <Connection v-model="after" :preferredTable="before.table" copyLeft @clone="before = {...before, table: after.table}"/>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text">WHERE</span>
                <input class="form-control" v-model="where">
            </div>
        </div>
        <div class="alert alert-info">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label for="timeLimit">{{$t('form.timeLimit')}}</label>
                    <input id="timeLimit" v-model="timeLimit" class="form-control"/>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="memoryLimit">{{$t('form.memoryLimit')}}</label>
                    <input id="memoryLimit" v-model="memoryLimit" class="form-control"/>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary d-block w-100 my-3" :disabled="!valid" @click="submit">
            {{ $t('form.compare') }}
        </button>
    </form>
</template>

<script>
    import Connection from "./Connection";
    import session from "../services/session";

    export default {
        components: {Connection},
        data() {
            return {
                before: session.get('latestBefore', {
                    url: '',
                    table: null,
                }),
                after: session.get('latestAfter', {
                    url: '',
                    table: null,
                }),
                where: session.get('latestWhere', ''),
                timeLimit: session.get('timeLimit', 0),
                memoryLimit: session.get('memoryLimit', '4G'),
            };
        },
        computed: {
            valid() {
                return this.before.url && this.before.table && this.after.url && this.after.table;
            },
        },
        methods: {
            submit() {
                session.set('latestBefore', this.before);
                session.set('latestAfter', this.after);
                session.set('latestWhere', this.where);
                session.set('timeLimit', this.timeLimit);
                session.set('memoryLimit', this.memoryLimit);

                this.$emit('compare', {
                    before: this.before,
                    after: this.after,
                    where: this.where,
                    timeLimit: this.timeLimit,
                    memoryLimit: this.memoryLimit
                });
            },
        },
    };
</script>
