<template>
    <small>
        ({{asPercent}}%)
    </small>
</template>

<script>
    export default {
        props: {
            value: { required: true },
            base: { required: true },
        },
        data() {
            return {
                asPercent: (100 * this.value / this.base).toFixed(2),
            };
        },
    };
</script>
