<template>
    <div class="lds-dual-ring"></div>
</template>

<style lang="scss" scoped>
    @import "../styles/variables";

    $color: $primary;
    $size: 64px;
    $margin: 8px;
    $thickness: 6px;

    // https://loading.io/css/
    .lds-dual-ring {
        display: inline-block;
        width: $size + 2 * $margin;
        height: $size + 2 * $margin;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: $size;
        height: $size;
        margin: $margin;
        border-radius: 50%;
        border: $thickness solid $primary;
        border-color: $primary transparent $primary transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
