<template>
    <details v-if="this.rows.length > 0" class="card">
        <summary class="card-header">
            {{ $t('comparison.preview') }}
        </summary>
        <div class="card-body">
            <Table :rows="rows"/>
        </div>
    </details>
</template>

<script>
    import Table from "./Table";

    export default {
        components: {Table},
        props: {
            rows: { required: true },
        },
    };
</script>
