<template>
    <div class="table-responsive" v-if="this.rows.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th v-for="column in columns">{{ column }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in rows">
                <td v-for="column in columns">{{ row[column] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            rows: { required: true },
        },
        data() {
            return {

            }
        },
        computed: {
            columns() {
                return Object.keys(this.rows[0]);
            },
        },
    };
</script>
