<template>
    <div class="table-responsive" v-if="Object.keys(this.rows).length > 0">
        <table class="table table-striped">
            <thead class="sticky-top">
            <tr>
                <th v-for="column in columns">{{ column }}</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="row in rows">
                <tr class="pair-separator" v-show="selectedColumn === null || row.changes.includes(selectedColumn)">
                    <td v-for="column in columns" :class="['text-nowrap', row.changes.includes(column) ? 'bg-warning' : '']">{{ row.before[column] }}</td>
                </tr>
                <tr v-show="selectedColumn === null || row.changes.includes(selectedColumn)">
                    <td v-for="column in columns" :class="['text-nowrap', row.changes.includes(column) ? 'bg-warning' : '']">{{ row.after[column] }}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            rows: { required: true },
            selectedColumn: { 'default': null },
        },
        computed: {
            columns() {
                const first = Object.values(this.rows)[0];
                const before = Object.keys(first.before);
                const after = Object.keys(first.after);

                return before.filter((n) => after.indexOf(n) !== -1);
            },
        },
    };
</script>

<style lang="scss" scoped>
    @import "../styles/variables";
    .pair-separator {
        border-top: 3px solid $primary;
    }
</style>
